<!DOCTYPE html>
<html>
  <head>
    <title>FreshchatIssue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", :media => "all", data: {turbolinks_track: "reload"} %>
    <%= javascript_include_tag "application", data: {turbolinks_eval: false, turbolinks_track: "reload"} %>

    <%= javascript_pack_tag 'application', defer: false, data: { turbolinks_eval: false, turbolinks_track: 'reload'} %>

    <%= tag :meta, name: 'turbolinks-cache-control', content: 'cache' %>

    <script>
      var updateCounts = function() {
        document.querySelector('#co-browsing-js').innerHTML = document.querySelectorAll('script[src*="co-browsing.js"]').length;
        document.querySelector('#co-browsing-css').innerHTML = document.querySelectorAll('link[href*="cb.css"]').length;
        document.querySelector('#widget-css').innerHTML = document.querySelectorAll('link[href*="widget.css"]').length;
      }

      var turbo_load_listener = function() {
        setInterval(function() {
          updateCounts();
        }, 500);
      };

      document.addEventListener("turbolinks:load", turbo_load_listener);
    </script>
  </head>

  <body>
    <div>
      <%= link_to 'Page 1', { controller: :pages, action: :page_one } %>
      <%= link_to 'Page 2', { controller: :pages, action: :page_two } %>
      <%= link_to 'Page 3', { controller: :pages, action: :page_three } %>
      <%= link_to 'Page 4', { controller: :pages, action: :page_four } %>
      <%= link_to 'Page 5', { controller: :pages, action: :page_five } %>
    </div>

    <%= yield %>

    <br />
    <br />

    <a data-behavior="sf-freshdesk-help-launcher"><u>Help!</u></a><br />
    <a data-behavior="sf-freshdesk-chat-launcher"><u>Chat!</u></a><br />

    <br />
    <br />
    <div>
      <table>
        <tr>
          <td><strong>co-browsing.js</strong></td>
          <td><code>document.querySelectorAll('script[src*="co-browsing.js"]').length</code></td>
          <th align="right"><span id="co-browsing-js"></span></th>
        </tr>
        <tr>
          <td><strong>cb.css</strong></td>
          <td><code>document.querySelectorAll('link[href*="cb.css"]').length</code></td>
          <th align="right"><span id="co-browsing-css"></span></th>
        </tr>
        <tr>
          <td><strong>widget.css</strong></td>
          <td><code>document.querySelectorAll('link[href*="widget.css"]').length</code></td>
          <th align="right"><span id="widget-css"></span></th>
        </tr>
        <tr>
          <td><strong>window message eventlisteners</strong></td>
          <td colspan="2"><code>getEventListeners(window).message.length</code></td>
        </tr>
      </table>
    </div>

    <%= render 'layouts/trackers/freshdesk_chat_widget' %>
    <%= render 'layouts/trackers/freshdesk_help_widget' %>

    <div id="freshchat_workaround_div">
      <iframe id="freshchat_workaround" src="/workaround/workaround_source"></iframe>
    </div>
    Hier is meer tekst
    <script>
      // console.log("Body loaded");
    </script>
  </body>
</html>
